.btn {
  font-weight: 600;
}
body {
  font-family: 'DM Sans', sans-serif;
}
.display-1 {
  font-family: 'DM Sans', sans-serif;
  font-size: 4.0625rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.078125rem;
}
.display-2 {
  font-family: 'DM Sans', sans-serif;
  font-size: 2.875rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.59375rem;
}
.display-4 {
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-5 {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 1.875rem;
}
.display-7 {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.40625rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.25rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.84375rem;
    font-size: calc( 2.071875rem + (4.0625 - 2.071875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.071875rem + (4.0625 - 2.071875) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.3rem;
    font-size: calc( 1.65625rem + (2.875 - 1.65625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.65625rem + (2.875 - 1.65625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.9rem;
    font-size: calc( 1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.825rem 3.75rem;
  border-radius: 0px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 0px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 0px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 0px;
}
.bg-primary {
  background-color: #000000 !important;
}
.bg-success {
  background-color: #ffffff !important;
}
.bg-info {
  background-color: #ffffff !important;
}
.bg-warning {
  background-color: #ffffff !important;
}
.bg-danger {
  background-color: #ff4433 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #4c4c4c !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #4c4c4c !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-color: transparent !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #4c4c4c !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-color: rgba(255, 255, 255, 0.2) !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #b2b2b2 !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #b2b2b2 !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-color: transparent !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #b2b2b2 !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-color: rgba(255, 255, 255, 0.2) !important;
}
.btn-info,
.btn-info:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #fab901 !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #fab901 !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-color: transparent !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #fab901 !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-color: rgba(255, 255, 255, 0.2) !important;
}
.btn-success,
.btn-success:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #49923a !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #49923a !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-color: transparent !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #49923a !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-color: rgba(255, 255, 255, 0.2) !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #0746c0 !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0746c0 !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-color: transparent !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #0746c0 !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-color: rgba(255, 255, 255, 0.2) !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #ff4433 !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ff4433 !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-color: transparent !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ff4433 !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-color: rgba(255, 255, 255, 0.2) !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #fafafa !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #fafafa !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-color: transparent !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #fafafa !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-color: rgba(255, 255, 255, 0.2) !important;
}
.btn-black,
.btn-black:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #232323 !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #232323 !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-color: transparent !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #232323 !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-color: rgba(255, 255, 255, 0.2) !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #4c4c4c;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #212121 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #4c4c4c !important;
  background-color: #4c4c4c !important;
  border-color: #4c4c4c !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #b2b2b2;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #878787 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #b2b2b2 !important;
  background-color: #b2b2b2 !important;
  border-color: #b2b2b2 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fab901;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #a47901 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #fab901 !important;
  background-color: #fab901 !important;
  border-color: #fab901 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #49923a;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #2a5421 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #49923a !important;
  background-color: #49923a !important;
  border-color: #49923a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #0746c0;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #04286c !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #0746c0 !important;
  background-color: #0746c0 !important;
  border-color: #0746c0 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff4433;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #db1200 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ff4433 !important;
  background-color: #ff4433 !important;
  border-color: #ff4433 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #232323 !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #fafafa !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #4c4c4c !important;
}
.text-secondary {
  color: #b2b2b2 !important;
}
.text-success {
  color: #49923a !important;
}
.text-info {
  color: #fab901 !important;
}
.text-warning {
  color: #0746c0 !important;
}
.text-danger {
  color: #ff4433 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #191919 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ffffff !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #9dd392 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #946e01 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #03225e !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #cc1100 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  /*  background-position: 0px 1.2em; */
}
.nav-tabs .nav-link.active {
  color: #4c4c4c;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #fab901;
}
.alert-warning {
  background-color: #0746c0;
}
.alert-danger {
  background-color: #ff4433;
}
.mbr-gallery-filter li.active .btn {
  background-color: #4c4c4c;
  border-color: #4c4c4c;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #4c4c4c;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #bfbfbf;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #8ccc7f;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #fff1c8;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #4e88f9;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.25rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #4c4c4c !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.25rem;
}
blockquote {
  border-color: #4c4c4c;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #4c4c4c;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #4c4c4c;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #4c4c4c;
  border-bottom-color: #4c4c4c;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #4c4c4c !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #b2b2b2 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%234c4c4c' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.2s;
  font-weight: 500;
  box-shadow: none !important;
}
.btn {
  margin: 0;
  font-weight: 500;
}
p {
  margin-bottom: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}
.text-secondary:hover {
  color: #dedede !important;
}
/*.btn-secondary:hover {
    color: #dedede !important;
}*/
.container {
  max-width: 1300px;
}
a.btn-primary:hover {
  color: #a0a5a5 !important;
}
.link {
  font-weight: 500;
}
.nav-item {
  transition-duration: .3s !important;
}
.nav-item:hover {
  transition-duration: .3s !important;
}
.navbar-toggler {
  border: transparent !important;
}
.navbar-toggler:focus {
  box-shadow: none;
}
body {
  line-height: 1.44em;
}
.mbr-section-title {
  letter-spacing: -1px;
  line-height: 1.07em;
  font-weight: 700;
}
.title {
  font-weight: 700;
}
.subtitle {
  font-weight: 500;
}
.mbr-section-subtitle {
  font-weight: 500;
}
.btn .mbr-iconfont {
  padding-right: 6px;
}
.cid-sIekqcMiL8 .navbar-dropdown {
  position: relative !important;
}
.cid-sIekqcMiL8 .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sIekqcMiL8 .dropdown-menu {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  margin-top: 0px;
}
.cid-sIekqcMiL8 .dropdown-item:hover,
.cid-sIekqcMiL8 .dropdown-item:focus {
  color: #4c4c4c !important;
}
.cid-sIekqcMiL8 .nav-dropdown .link {
  padding: 0 0em !important;
  margin: 0.667em 2em 0.667em 1em !important;
}
.cid-sIekqcMiL8 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sIekqcMiL8 .nav-link {
  position: relative;
  padding: 0;
}
.cid-sIekqcMiL8 .container {
  display: flex;
  margin: auto;
}
.cid-sIekqcMiL8 .iconfont-wrapper {
  color: #ffffff !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sIekqcMiL8 .dropdown-menu,
.cid-sIekqcMiL8 .navbar.opened {
  background: #4c4c4c !important;
}
.cid-sIekqcMiL8 .nav-item:focus,
.cid-sIekqcMiL8 .nav-link:focus {
  outline: none;
}
.cid-sIekqcMiL8 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sIekqcMiL8 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sIekqcMiL8 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sIekqcMiL8 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sIekqcMiL8 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sIekqcMiL8 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sIekqcMiL8 .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #4c4c4c;
}
.cid-sIekqcMiL8 .navbar.opened {
  transition: all 0.3s;
}
.cid-sIekqcMiL8 .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sIekqcMiL8 .navbar .navbar-logo img {
  width: auto;
}
.cid-sIekqcMiL8 .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sIekqcMiL8 .navbar.collapsed {
  justify-content: center;
}
.cid-sIekqcMiL8 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sIekqcMiL8 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sIekqcMiL8 .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-sIekqcMiL8 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sIekqcMiL8 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sIekqcMiL8 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sIekqcMiL8 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sIekqcMiL8 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sIekqcMiL8 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sIekqcMiL8 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sIekqcMiL8 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sIekqcMiL8 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sIekqcMiL8 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sIekqcMiL8 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sIekqcMiL8 .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sIekqcMiL8 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sIekqcMiL8 .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sIekqcMiL8 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sIekqcMiL8 .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sIekqcMiL8 .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sIekqcMiL8 .navbar.navbar-short {
  min-height: 60px;
}
.cid-sIekqcMiL8 .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sIekqcMiL8 .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sIekqcMiL8 .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sIekqcMiL8 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sIekqcMiL8 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sIekqcMiL8 .dropdown-item.active,
.cid-sIekqcMiL8 .dropdown-item:active {
  background-color: transparent;
}
.cid-sIekqcMiL8 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sIekqcMiL8 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sIekqcMiL8 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sIekqcMiL8 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #4c4c4c;
}
.cid-sIekqcMiL8 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sIekqcMiL8 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sIekqcMiL8 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sIekqcMiL8 .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sIekqcMiL8 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sIekqcMiL8 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-sIekqcMiL8 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sIekqcMiL8 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sIekqcMiL8 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sIekqcMiL8 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sIekqcMiL8 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sIekqcMiL8 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sIekqcMiL8 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sIekqcMiL8 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sIekqcMiL8 .navbar-dropdown {
  padding: 0 1rem;
}
.cid-sIekqcMiL8 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sIekqcMiL8 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sIekqcMiL8 .navbar {
    height: 70px;
  }
  .cid-sIekqcMiL8 .navbar.opened {
    height: auto;
  }
  .cid-sIekqcMiL8 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sIekqcMiL8 .line-animation {
  opacity: 0;
  position: absolute;
  bottom: -4px;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transition: all 0.2s ease-in-out;
}
.cid-sIekqcMiL8 .nav-link:hover .line-animation {
  opacity: 1;
}
.cid-sIekqcMiL8 a {
  display: inline;
  font-weight: bold;
}
.cid-sIekqcMiL8 img {
  display: inline;
  padding-right: 10px;
}
.cid-sIekqcMiL8 .dropdown-toggle:after {
  display: none;
}
.cid-sIekqcMiL8 .navbar .dropdown-item {
  display: block;
  border-radius: 0;
  padding-top: 2px;
  padding-bottom: 2px;
}
.cid-sIekqcMiL8 .dropdown-item:hover {
  color: #0746c0 !important;
}
@media (max-width: 990px) {
  .cid-sIekqcMiL8 .dropdown-menu {
    margin-top: 0px;
  }
  .cid-sIekqcMiL8 .nav-dropdown .link {
    margin: 0 !important;
  }
}
.cid-sIekqcMiL8 .mbr-buttons {
  margin: 20px -6px 20px;
}
.cid-sIekqcMiL8 ul {
  counter-reset: counter;
  margin: auto;
}
.cid-sIekqcMiL8 .nav-link::before {
  position: relative;
  display: block;
  top: -15px;
  left: 13px;
  font-size: 10px;
  line-height: 1;
  font-weight: 500;
  counter-increment: counter;
  content: counter(counter, decimal-leading-zero) ".";
  color: #dde8eb;
  -webkit-transition: color 0.35s ease-out;
  -o-transition: color 0.35s ease-out;
  transition: color 0.35s ease-out;
}
.cid-sIekqcMiL8 .nav-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.cid-sIekqcMiL8 .nav-item:hover .nav-link::before {
  color: currentColor;
}
.cid-sIekqcMiL8 ul li {
  height: 100px;
  display: flex;
}
.cid-sIekqcMiL8 a.text-white:hover {
  color: #ffffff !important;
}
.cid-sIekqcMiL8 a.text-primary:hover {
  color: #4c4c4c !important;
}
.cid-sIekqcMiL8 a.text-secondary:hover {
  color: #b2b2b2 !important;
}
.cid-sIekqcMiL8 a.text-success:hover {
  color: #49923a !important;
}
.cid-sIekqcMiL8 a.text-info:hover {
  color: #fab901 !important;
}
.cid-sIekqcMiL8 a.text-warning:hover {
  color: #0746c0 !important;
}
.cid-sIekqcMiL8 a.text-danger:hover {
  color: #cc1100 !important;
}
.cid-sIekqcMiL8 a.text-black:hover {
  color: #000000 !important;
}
@media (max-width: 970px) {
  .cid-sIekqcMiL8 ul li {
    height: 45px;
    display: list-item;
  }
}
.cid-sIekqcMiL8 .dropdown-toggle::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}
.cid-sIekqcMiL8 .navbar-collapse.collapsing .nav-item {
  height: 45px;
}
.cid-sIekqcMiL8 .navbar-collapse.collapsing .nav-link {
  margin: 0.667em 1em !important;
}
.cid-sIekqcMiL8 .navbar-collapse.collapse.show .nav-item {
  height: 45px;
}
.cid-sIekqcMiL8 .navbar-collapse.collapse.show ul li {
  height: 45px;
  display: list-item;
}
.cid-sIekqcMiL8 .navbar-collapse.collapse.show .nav-link {
  margin: 0.667em 1em !important;
}
.cid-sIekqcMiL8 .mbr-iconfont {
  margin-left: -5px;
}
.cid-sHEeiC9sJh {
  background-image: url("../../../assets/images/bbbb.jpg");
}
@media (min-width: 992px) {
  .cid-sHEeiC9sJh .text-wrapper {
    padding: 2rem;
  }
}
@media (max-width: 1000px) {
  .cid-sHEeiC9sJh .text-wrapper {
    padding: 2rem 0;
  }
}
.cid-sHEeiC9sJh .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
@media (max-width: 767px) {
  .cid-sHEeiC9sJh {
    margin-bottom: 2rem;
  }
}
.cid-sHEeiC9sJh .text-block {
  color: #565A69;
  margin-bottom: 50px;
}
.cid-sHEeiC9sJh .row.justify-content-between {
  margin-bottom: 3px;
  margin: 0;
}
.cid-sHEeiC9sJh .mbr-section-btn {
  padding-top: 53px;
  margin: 0px;
}
.cid-sHEeiC9sJh .desc {
  margin-top: 22px;
  color: #b2b2b2;
  font-weight: 500;
}
.cid-sHEeiC9sJh .btn-primary {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.cid-sHEeiC9sJh .btn-primary:hover {
  color: #000000 !important;
  background-color: #e3e3e3 !important;
  border-color: #e3e3e3;
}
.cid-sHEeiC9sJh .mbr-section-subtitle {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 2px;
  text-transform: uppercase;
}
.cid-sHEeiC9sJh .desc1 {
  font-weight: 700;
  color: #ffffff;
}
.cid-sHEeiC9sJh .desc2 {
  font-weight: 700;
  margin-top: 20px;
  color: #ffffff;
}
.cid-sHEeiC9sJh .mbr-section-button {
  margin-top: 25px;
}
.cid-sHEfp26iel {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/bbbb.jpg");
}
.cid-sHEfp26iel .item-wrapper {
  width: 100%;
}
.cid-sHEfp26iel .left-side {
  text-align: left;
  padding-left: 10%;
  margin: auto;
}
.cid-sHEfp26iel .row {
  align-items: center;
}
.cid-sHEfp26iel .mbr-section-title {
  margin: 0 0 26px;
  color: #ffffff;
  font-weight: 700;
}
.cid-sHEfp26iel .mbr-text {
  padding: 0;
  color: #b2b2b2;
  font-weight: 500;
}
.cid-sHEfp26iel .title {
  font-weight: 700;
  color: #1d1d1f;
}
.cid-sHEfp26iel .link {
  margin-top: 29px;
  width: 100%;
}
.cid-sHEfp26iel .col-auto {
  display: inline-block;
}
.cid-sHEfp26iel .mbr-section-subtitle {
  color: #b2b2b2;
  width: 100%;
  padding-bottom: 2px;
  font-weight: 700;
}
@media (max-width: 990px) {
  .cid-sHEfp26iel .left-side {
    padding: 25px 0px;
  }
}
.cid-sHEfp26iel a {
  transition: color 0.2s ease-out, background-color 0.2s ease-out, border-color 0.2s ease-out;
}
.cid-sHEfp26iel rect {
  transform: translateX(-13px);
  transform-origin: right;
  stroke: currentColor;
  stroke-width: .5;
}
.cid-sHEfp26iel .qodef-button-cap-fake {
  animation: qode-button-cap-fake-out 0.35s linear;
}
.cid-sHEfp26iel svg {
  margin-left: 15px;
}
.cid-sHEfp26iel path {
  animation: qode-button-cap-out 0.35s ease-in-out;
  transform: translateX(-13px);
  transform-origin: right;
  fill: currentColor;
}
.cid-sHEfp26iel .link:hover rect {
  animation: qode-button-line 0.7s ease forwards;
}
.cid-sHEfp26iel .link:hover path {
  animation: qode-button-cap 0.7s ease forwards;
}
@keyframes qode-button-cap-fake-out {
  0% {
    clip-path: inset(0 0 0 0);
  }
  49%,
  51% {
    clip-path: inset(50% 0 50% 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}
@keyframes qode-button-line {
  0%,
  100% {
    transform: translateX(-13px) scaleX(1);
  }
  10% {
    transform: translateX(-13px) scaleX(1);
  }
  46%,
  55% {
    transform: translateX(0) scaleX(0.5);
  }
  99% {
    transform: translateX(-13px) scaleX(0.6);
  }
}
@keyframes qode-button-cap-out {
  0%,
  50% {
    transform: translateX(-35px) scaleX(-1);
  }
  100%,
  51% {
    transform: translateX(-13px) scaleX(1);
  }
}
@keyframes qode-button-cap {
  0% {
    -webkit-transform: translateX(-13px) scaleX(1);
    transform: translateX(-13px) scaleX(1);
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
  54% {
    -webkit-transform: translateX(-1px) scaleX(1);
    transform: translateX(-1px) scaleX(1);
    -webkit-clip-path: inset(50% 0 50% 0);
    clip-path: inset(50% 0 50% 0);
  }
  55% {
    -webkit-transform: translateX(-20px) scaleX(-1);
    transform: translateX(-20px) scaleX(-1);
    -webkit-clip-path: inset(50% 0 50% 0);
    clip-path: inset(50% 0 50% 0);
  }
  100% {
    -webkit-transform: translateX(-35px) scaleX(-1);
    transform: translateX(-35px) scaleX(-1);
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
}
.cid-sHEfp26iel .part {
  align-items: start;
}
.cid-sHEflOBRZv {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/bbbb.jpg");
}
.cid-sHEflOBRZv .text {
  padding-top: 0;
}
.cid-sHEflOBRZv .card-title {
  margin-bottom: 0;
  margin-top: 22px;
  width: 100%;
  font-weight: 700;
  color: #ffffff;
}
.cid-sHEflOBRZv .card-text {
  margin-top: 14px;
  width: 100%;
  font-weight: 500;
  color: #b2b2b2;
}
.cid-sHEflOBRZv .bottom {
  margin-bottom: 66px;
}
.cid-sHEflOBRZv .number {
  width: 100%;
  font-weight: 700;
  color: #b2b2b2;
}
.cid-sHEflOBRZv .header {
  margin: 5px 0;
  font-weight: 700;
  color: #ffffff;
}
.cid-sHEflOBRZv .line {
  background-color: #4c4c4c;
  height: 1px;
  width: 100%;
}
@media (max-width: 770px) {
  .cid-sHEflOBRZv .top {
    padding-top: 60px;
  }
}
.cid-sHEfwzD4Mn {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/bbbb.jpg");
}
@media (min-width: 992px) {
  .cid-sHEfwzD4Mn .carousel {
    min-height: 800px;
  }
  .cid-sHEfwzD4Mn .carousel img {
    max-height: 800px;
    object-fit: contain;
  }
  .cid-sHEfwzD4Mn .row {
    margin-left: 10px;
    margin-right: 10px;
  }
}
.cid-sHEfwzD4Mn .carousel-fade .active.carousel-item-left,
.cid-sHEfwzD4Mn .carousel-fade .active.carousel-item-right {
  transition: opacity 0.5s 0s;
}
.cid-sHEfwzD4Mn .carousel-fade .carousel-item-left.carousel-item-next,
.cid-sHEfwzD4Mn .carousel-fade .carousel-item-right.carousel-item-prev {
  transition: opacity 0.5s 0.5s;
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-sHEfwzD4Mn .carousel {
    min-height: 520px;
  }
  .cid-sHEfwzD4Mn .carousel img {
    max-height: 520px;
    object-fit: contain;
  }
}
@media (max-width: 767px) {
  .cid-sHEfwzD4Mn .carousel {
    min-height: 440px;
  }
  .cid-sHEfwzD4Mn .carousel .right-side {
    margin-top: 30px;
  }
  .cid-sHEfwzD4Mn .carousel .container {
    padding: 0 15px;
  }
  .cid-sHEfwzD4Mn .container .carousel-control {
    margin-bottom: 0;
  }
  .cid-sHEfwzD4Mn .content-slider-wrap {
    width: 100% !important;
  }
}
.cid-sHEfwzD4Mn .carousel,
.cid-sHEfwzD4Mn .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-sHEfwzD4Mn .carousel-caption {
  bottom: 40px;
}
.cid-sHEfwzD4Mn .mobi-mbri-arrow-next {
  margin-left: 5px;
}
.cid-sHEfwzD4Mn .mobi-mbri-arrow-prev {
  margin-right: 5px;
}
.cid-sHEfwzD4Mn .carousel-control {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  transition: all 0.3s;
}
.cid-sHEfwzD4Mn .carousel-control.carousel-control-prev {
  left: -100px;
  margin-left: 2.5rem;
}
.cid-sHEfwzD4Mn .carousel-control.carousel-control-next {
  right: -100px;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-sHEfwzD4Mn .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-sHEfwzD4Mn .left-side {
  text-align: left;
}
.cid-sHEfwzD4Mn .row {
  align-items: center;
}
.cid-sHEfwzD4Mn .carousel-item {
  align-items: center;
}
@media (max-width: 600px) {
  .cid-sHEfwzD4Mn .mbr-section-btn {
    margin-bottom: 25px;
  }
  .cid-sHEfwzD4Mn .carousel-control.carousel-control-next {
    right: -50px;
    bottom: 100px;
    display: none;
  }
  .cid-sHEfwzD4Mn .carousel-control.carousel-control-prev {
    left: -50px;
    bottom: 100px;
    display: none;
  }
  .cid-sHEfwzD4Mn .carousel {
    margin-top: 25px;
  }
}
.cid-sHEfwzD4Mn .button-align {
  width: 100%;
}
.cid-sHEfwzD4Mn .carousel-item.active {
  justify-content: center;
}
.cid-sHEfwzD4Mn .btn-primary {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.cid-sHEfwzD4Mn .btn-primary:hover {
  color: #000000 !important;
  background-color: #e3e3e3 !important;
  border-color: #e3e3e3;
}
.cid-sHEfwzD4Mn .btn-white {
  color: #000000 !important;
}
.cid-sHEfwzD4Mn .svg-left {
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.cid-sHEfwzD4Mn rect {
  transition: 0.33s cubic-bezier(0.14, -0.07, 0.23, 0.9);
  transform: translateX(9px);
  stroke-width: .1;
  stroke: currentColor;
  transform-origin: right;
  fill: #ffffff;
}
.cid-sHEfwzD4Mn polygon {
  fill: #ffffff;
  transform-origin: right;
  transition: 0.33s cubic-bezier(0.14, -0.07, 0.23, 0.9);
  clip-path: inset(0 0 0 0);
  visibility: visible;
}
.cid-sHEfwzD4Mn .swiper-left:hover .swiper-left {
  font-family: "dm sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 23.04px;
  text-align: center;
  vertical-align: baseline;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: ease-out;
}
.cid-sHEfwzD4Mn .swiper-left:hover .svg-left {
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.cid-sHEfwzD4Mn .swiper-left:hover rect {
  fill: #ffffff;
  stroke-width: 0.1px;
  transform: matrix(1, 0, 0, 1, 32, 0);
  transform-origin: 53.02px 13.5px;
}
.cid-sHEfwzD4Mn .swiper-left:hover polygon {
  fill: #ffffff;
  transition: 0.33s cubic-bezier(0.14, -0.07, 0.23, 0.9);
  transform: translateX(0);
  clip-path: inset(50% 0 50% 0);
}
.cid-sHEfwzD4Mn .swiper-right:hover .swiper-right {
  font-family: "dm sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 23.04px;
  text-align: center;
  vertical-align: baseline;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: ease-out;
}
.cid-sHEfwzD4Mn .swiper-right:hover rect {
  stroke-width: 0.1px;
  transform: matrix(1, 0, 0, 1, 32, 0);
  transform-origin: 53.02px 13.5px;
}
.cid-sHEfwzD4Mn .swiper-right:hover polygon {
  transition: 0.33s cubic-bezier(0.14, -0.07, 0.23, 0.9);
  transform: translateX(0);
  clip-path: inset(50% 0 50% 0);
}
.cid-sHEfwzD4Mn .container {
  max-width: 1300px;
  margin: auto;
  padding: 0 50px;
}
.cid-sHEfwzD4Mn .mbr-section-subtitle {
  margin-bottom: 5px;
  font-weight: 700;
  color: #ffffff;
}
.cid-sHEfwzD4Mn .mbr-section-title {
  font-weight: 700;
  margin-bottom: 30px;
  color: #ffffff;
}
.cid-sHEfwzD4Mn .mbr-text {
  font-weight: 500;
  margin-bottom: 40px;
  color: #ffffff;
}
.cid-sHEfwzD4Mn .mbr-section-btn {
  margin: 0;
}
.cid-sHEfwzD4Mn .container-fluid {
  padding: 0 50px;
}
@media (max-width: 990px) {
  .cid-sHEfwzD4Mn .carousel-control.carousel-control-prev {
    left: -70px;
  }
  .cid-sHEfwzD4Mn .carousel-control.carousel-control-next {
    right: -70px;
  }
  .cid-sHEfwzD4Mn .carousel-inner {
    width: 90%;
    margin: auto;
  }
}
@media (max-width: 770px) {
  .cid-sHEfwzD4Mn .carousel-control.carousel-control-prev {
    top: 47%;
  }
  .cid-sHEfwzD4Mn .carousel-control.carousel-control-next {
    top: 47%;
  }
  .cid-sHEfwzD4Mn .container,
  .cid-sHEfwzD4Mn .container-fluid {
    padding: 0;
  }
  .cid-sHEfwzD4Mn .mbr-section-btn {
    display: none;
  }
  .cid-sHEfwzD4Mn .mbr-text {
    display: none;
  }
  .cid-sHEfwzD4Mn .mbr-section-subtitle {
    display: none;
  }
  .cid-sHEfwzD4Mn .mbr-section-title {
    margin-bottom: 0;
  }
}
.cid-sHEfwzD4Mn .carousel-item,
.cid-sHEfwzD4Mn .carousel-fade .active.carousel-item-left,
.cid-sHEfwzD4Mn .carousel-fade .active.carousel-item-right {
  transition: opacity 0.5s 0s;
}
.cid-sHEfwzD4Mn .carousel-item.active.carousel-item-start .left-side,
.cid-sHEfwzD4Mn .carousel-item.active.carousel-item-end .left-side {
  transition: .6s;
  opacity: 0;
}
.cid-sHEfzYlBlU {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/bbbb.jpg");
}
.cid-sHEfzYlBlU .card-wrapper {
  background: none;
  display: block;
}
.cid-sHEfzYlBlU .card-wrapper .image-wrap img {
  width: 100%;
}
.cid-sHEfzYlBlU .mbr-iconfont {
  display: block;
  font-size: 110px;
  margin-right: 15px;
  height: 100%;
  margin-bottom: 29px;
}
.cid-sHEfzYlBlU .mbr-section-subtitle {
  padding: 0;
  margin: 0;
  padding-bottom: 20px;
}
.cid-sHEfzYlBlU .card-title {
  font-weight: 700;
  margin-bottom: 14px;
}
.cid-sHEfzYlBlU .lin {
  font-weight: 500;
}
.cid-sHEfzYlBlU a {
  padding: 0;
  border: 0px;
  transition: color 0.2s ease-out, background-color 0.2s ease-out, border-color 0.2s ease-out;
  padding-left: 0;
  padding-right: 0;
  word-break: normal;
  justify-content: center;
}
.cid-sHEfzYlBlU .card-title,
.cid-sHEfzYlBlU .lin {
  color: #1d1d1f;
}
.cid-sHEfzYlBlU .padd {
  padding-top: 68px;
}
@media (max-width: 990px) {
  .cid-sHEfzYlBlU .padd {
    padding-top: 0;
  }
  .cid-sHEfzYlBlU .b {
    margin-bottom: 60px;
  }
}
.cid-sHEfzYlBlU .link {
  margin-top: 24px;
}
.cid-sHEfzYlBlU rect {
  transform: translateX(-13px);
  transform-origin: right;
  stroke: currentColor;
  stroke-width: .5;
}
.cid-sHEfzYlBlU .qodef-button-cap-fake {
  animation: qode-button-cap-fake-out 0.35s linear;
}
.cid-sHEfzYlBlU svg {
  margin-left: 15px;
}
.cid-sHEfzYlBlU path {
  animation: qode-button-cap-out 0.35s ease-in-out;
  transform: translateX(-13px);
  transform-origin: right;
  fill: currentColor;
}
.cid-sHEfzYlBlU .link:hover rect {
  animation: qode-button-line 0.7s ease forwards;
}
.cid-sHEfzYlBlU .link:hover path {
  animation: qode-button-cap 0.7s ease forwards;
}
@keyframes qode-button-cap-fake-out {
  0% {
    clip-path: inset(0 0 0 0);
  }
  49%,
  51% {
    clip-path: inset(50% 0 50% 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}
@keyframes qode-button-line {
  0%,
  100% {
    transform: translateX(-13px) scaleX(1);
  }
  10% {
    transform: translateX(-13px) scaleX(1);
  }
  46%,
  55% {
    transform: translateX(0) scaleX(0.5);
  }
  99% {
    transform: translateX(-13px) scaleX(0.6);
  }
}
@keyframes qode-button-cap-out {
  0%,
  50% {
    transform: translateX(-35px) scaleX(-1);
  }
  100%,
  51% {
    transform: translateX(-13px) scaleX(1);
  }
}
@keyframes qode-button-cap {
  0% {
    -webkit-transform: translateX(-13px) scaleX(1);
    transform: translateX(-13px) scaleX(1);
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
  54% {
    -webkit-transform: translateX(-1px) scaleX(1);
    transform: translateX(-1px) scaleX(1);
    -webkit-clip-path: inset(50% 0 50% 0);
    clip-path: inset(50% 0 50% 0);
  }
  55% {
    -webkit-transform: translateX(-20px) scaleX(-1);
    transform: translateX(-20px) scaleX(-1);
    -webkit-clip-path: inset(50% 0 50% 0);
    clip-path: inset(50% 0 50% 0);
  }
  100% {
    -webkit-transform: translateX(-35px) scaleX(-1);
    transform: translateX(-35px) scaleX(-1);
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
}
.cid-sHEfzYlBlU .icon1 {
  color: #338ba0;
}
.cid-sHEfzYlBlU .icon2 {
  color: #ffffff;
}
.cid-sHEfzYlBlU .icon3 {
  color: #fab901;
}
.cid-sHEfzYlBlU .icon4 {
  color: #ffffff;
}
.cid-sHEfzYlBlU .small-bottom,
.cid-sHEfzYlBlU .link {
  text-align: left;
  color: #b2b2b2;
}
.cid-sHEfzYlBlU .card-title,
.cid-sHEfzYlBlU .iconfont-wrapper {
  color: #ffffff;
}
@media (max-width: 770px) {
  .cid-sHEfzYlBlU .b1 {
    margin-bottom: 60px;
  }
  .cid-sHEfzYlBlU .card-title {
    text-align: center;
  }
  .cid-sHEfzYlBlU .lin {
    text-align: center;
  }
  .cid-sHEfzYlBlU .link {
    text-align: center;
  }
  .cid-sHEfzYlBlU .mbr-iconfont {
    margin-right: 0;
  }
  .cid-sHEfzYlBlU .iconfont-wrapper {
    text-align: center;
  }
}
.cid-sHKNZVqCjY {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #1d1d1f;
}
.cid-sHKNZVqCjY .mbr-section-title {
  text-align: left;
  width: 100%;
  margin-bottom: 60px;
  font-weight: 700;
  padding: 0;
  color: #ffffff;
}
.cid-sHKNZVqCjY .mbr-section-subtitle {
  text-align: left;
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #ffffff;
  padding: 0;
}
.cid-sHKNZVqCjY .title-block {
  justify-content: space-between;
}
.cid-sHKNZVqCjY .card-wrapper {
  width: auto;
  max-width: 100%;
}
.cid-sHKNZVqCjY .card-title {
  font-weight: 700;
  padding: 43px 0 0;
  color: #1d1d1f;
  text-align: left;
  margin-bottom: 0;
}
.cid-sHKNZVqCjY H3 {
  color: #1d1d1f;
}
@media (min-width: 575px) and (max-width: 990px) {
  .cid-sHKNZVqCjY .col-12:nth-child(3) {
    padding-top: 35px;
  }
  .cid-sHKNZVqCjY .card-title {
    padding: 13px 0 0;
  }
}
@media (max-width: 574px) {
  .cid-sHKNZVqCjY .col-12 {
    padding-top: 35px;
  }
  .cid-sHKNZVqCjY .col-12:first-child {
    padding-top: 0px;
  }
  .cid-sHKNZVqCjY .card-title {
    padding: 13px 0 0;
  }
}
.cid-sHKNZVqCjY .card-title,
.cid-sHKNZVqCjY .iconfont-wrapper {
  color: #ffffff;
}
.cid-sHEfz6SjVR {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/bbbb.jpg");
}
.cid-sHEfz6SjVR .mbr-section-title {
  color: #ffffff;
  margin-bottom: 60px;
  font-weight: 700;
  width: 100%;
}
.cid-sHEfz6SjVR .card-heading {
  line-height: 1.2;
  margin: 0px;
  font-weight: 500;
  color: #4c4c4c;
}
.cid-sHEfz6SjVR .item-wrapper:hover {
  cursor: pointer;
}
.cid-sHEfz6SjVR .item-wrapper:hover .link {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.cid-sHEfz6SjVR .mbr-section-subtitle {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #4c4c4c;
  width: 100%;
}
.cid-sHEfz6SjVR .side-subtitle {
  transform: rotate(90deg) translate(100%, 0);
  position: absolute;
  top: -100px;
  right: -40px;
}
.cid-sHEfz6SjVR a {
  transition: color 0.2s ease-out, background-color 0.2s ease-out, border-color 0.2s ease-out;
}
.cid-sHEfz6SjVR rect {
  transform: translateX(-13px);
  transform-origin: right;
  stroke: currentColor;
  stroke-width: .5;
}
.cid-sHEfz6SjVR .qodef-button-cap-fake {
  animation: qode-button-cap-fake-out 0.35s linear;
}
.cid-sHEfz6SjVR svg {
  margin-left: 15px;
}
.cid-sHEfz6SjVR path {
  animation: qode-button-cap-out 0.35s ease-in-out;
  transform: translateX(-13px);
  transform-origin: right;
  fill: currentColor;
}
.cid-sHEfz6SjVR .link:hover rect {
  animation: qode-button-line 0.7s ease forwards;
}
.cid-sHEfz6SjVR .link:hover path {
  animation: qode-button-cap 0.7s ease forwards;
}
@keyframes qode-button-cap-fake-out {
  0% {
    clip-path: inset(0 0 0 0);
  }
  49%,
  51% {
    clip-path: inset(50% 0 50% 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}
@keyframes qode-button-line {
  0%,
  100% {
    transform: translateX(-13px) scaleX(1);
  }
  10% {
    transform: translateX(-13px) scaleX(1);
  }
  46%,
  55% {
    transform: translateX(0) scaleX(0.5);
  }
  99% {
    transform: translateX(-13px) scaleX(0.6);
  }
}
@keyframes qode-button-cap-out {
  0%,
  50% {
    transform: translateX(-35px) scaleX(-1);
  }
  100%,
  51% {
    transform: translateX(-13px) scaleX(1);
  }
}
@keyframes qode-button-cap {
  0% {
    -webkit-transform: translateX(-13px) scaleX(1);
    transform: translateX(-13px) scaleX(1);
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
  54% {
    -webkit-transform: translateX(-1px) scaleX(1);
    transform: translateX(-1px) scaleX(1);
    -webkit-clip-path: inset(50% 0 50% 0);
    clip-path: inset(50% 0 50% 0);
  }
  55% {
    -webkit-transform: translateX(-20px) scaleX(-1);
    transform: translateX(-20px) scaleX(-1);
    -webkit-clip-path: inset(50% 0 50% 0);
    clip-path: inset(50% 0 50% 0);
  }
  100% {
    -webkit-transform: translateX(-35px) scaleX(-1);
    transform: translateX(-35px) scaleX(-1);
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
}
.cid-sHEfz6SjVR .link {
  margin-top: 26px;
}
.cid-sHEfz6SjVR img {
  margin-bottom: 29px;
}
.cid-sHEfz6SjVR .date {
  font-weight: 700;
  margin-bottom: 13px;
  color: #ffffff;
}
@media (max-width: 770px) {
  .cid-sHEfz6SjVR .top {
    margin-top: 60px;
  }
}
.cid-sHEfz6SjVR .card-heading,
.cid-sHEfz6SjVR .link {
  color: #b2b2b2;
}
.cid-sHEfFF7zA2 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/bbbb.jpg");
}
.cid-sHEfFF7zA2 .card {
  padding: 3rem;
  background: transparent;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  border: 1px solid #B2B2B2;
}
.cid-sHEfFF7zA2 .mbr-iconfont {
  font-size: 50px;
  color: #ffffff;
}
.cid-sHEfFF7zA2 .iconfont-wrapper {
  padding-bottom: 10px;
  text-align: right;
}
.cid-sHEfFF7zA2 img {
  border-radius: 50%;
  height: 70px;
  width: auto;
}
.cid-sHEfFF7zA2 .user_image {
  margin-left: 6px;
}
.cid-sHEfFF7zA2 .title {
  color: #ffffff;
  text-align: left;
  margin-bottom: 0;
  font-weight: 700;
}
.cid-sHEfFF7zA2 .mbr-section-subtitle {
  text-align: left;
  padding-bottom: 5px;
  margin-bottom: 0;
  font-weight: 500;
  color: #ffffff;
}
.cid-sHEfFF7zA2 .row {
  align-items: center;
}
.cid-sHEfFF7zA2 .top {
  margin-top: 40px;
}
.cid-sHEfFF7zA2 .small {
  font-weight: 500;
  padding-left: 15px;
  color: #ffffff;
}
.cid-sHEfFF7zA2 .no-padding {
  padding: 0 7px;
}
@media (max-width: 690px) {
  .cid-sHEfFF7zA2 .iconfont-wrapper {
    margin-top: 30px;
  }
  .cid-sHEfFF7zA2 .card {
    padding: 1rem;
  }
  .cid-sHEfFF7zA2 .quote-mark {
    display: none;
  }
  .cid-sHEfFF7zA2 .mbr-section-subtitle {
    margin-bottom: 10px;
  }
}
.cid-sHEfJB7yo6 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/bbbb.jpg");
}
.cid-sHEfJB7yo6 img {
  width: auto;
  max-height: 60px;
  display: inline-block;
  padding: 0;
  margin-right: 15px;
}
.cid-sHEfJB7yo6 .title {
  display: inline;
  font-weight: 700;
  color: #ffffff;
  width: auto;
}
.cid-sHEfJB7yo6 .margin {
  margin: 0px;
}
.cid-sHEfJB7yo6 .row {
  align-items: center;
  margin-bottom: 39px;
}
.cid-sHEfJB7yo6 .mbr-section-btn {
  padding-top: 53px;
  margin: 0px;
}
.cid-sHEfJB7yo6 .desc {
  margin-top: 22px;
  color: #b2b2b2;
  font-weight: 500;
}
.cid-sHEfJB7yo6 .btn-primary {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.cid-sHEfJB7yo6 .btn-primary:hover {
  color: #000000 !important;
  background-color: #e3e3e3 !important;
  border-color: #e3e3e3;
}
.cid-sHEfJB7yo6 .mbr-section-title {
  color: #ffffff;
  font-weight: 700;
}
.cid-sHEfKZXSoe {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
}
.cid-sHEfKZXSoe .mbr-text {
  color: #b2b2b2;
  font-weight: 500;
}
.cid-sHEfKZXSoe .container {
  max-width: 1300px;
}
